.country-details-page {
  background-color: $clr1;
  height: 91.3%;
  width: 100%;
}

.darkMode {
  background-color: $clr5;
  color: $clr4;
}

.country-details-container {
  padding-top: 78px;
  flex: 1;
}

.back-btn-text {
  text-indent: 62px;
  padding-top: 7px;
}

.details-subcontainer {
  margin-top: 80px;
}

.details-flag-container {
  height: 400px;
  width: 560px;
  margin-right: 120px;

  img {
    height: 100%;
    width: 100%;
  }
}

.info-container {
  // flex-grow: 1;
  width: 598px;
}

.info-subcontainer {
  flex-wrap: wrap;
  height: 185px;
  margin-bottom: 41px;
}

.details-info-country-name {
  font-size: 31px;
  font-family: "nunito-bold";
  line-height: 27px;
  margin-top: 48px;
  margin-bottom: 34px;
}

.left-subcontainer {
  margin-right: 133px;
}

.info-field {
  height: 19px;
  margin-bottom: 13px;

  span {
    font-family: "nunito-bold";
  }

  div:nth-child(2) {
      margin-left: 6px;
  }
  div:not(:last-child)::after {
    content: ',';
    margin-right: 6px;
  }
}

.border-countries-container {
  flex-wrap: wrap;
  // height: 250px;
}

.category-name {
  font-family: "nunito-bold";
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}

.border-country-button:not(:last-child) {
  margin-right: 10px;
}
