* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "nunito", sans-serif;
  font-size: rem(15px);
  line-height: 26px;
  letter-spacing: 0.75px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// h1 {
//   font-family: "nunito-bold", sans-serif;
//   font-size: rem(80px);
//   color: $clr5;
//   line-height: 90px;
//   letter-spacing: -2px;
//   margin: 0;
// }

// h2 {
//   font-family: "nunito-bold", sans-serif;
//   font-size: rem(40px);
//   line-height: 48px;
//   letter-spacing: -1px;
//   margin: 0;
// }

// h3 {
//   font-family: "nunito", sans-serif;
//   font-size: rem(18px);
//   line-height: 28px;
//   margin: 0;
// }

p {
  margin: 0;
  padding: 0;
}

@include for-tablet-layout {
  // h1 {
  //   font-size: rem(64px);
  //   line-height: 56px;
  // }

  // h2 {
  //   font-size: rem(30px);
  //   line-height: 32px;
  // }
}

@include for-mobile-layout {
  // body {
  //   font-size: rem(15px);
  //   line-height: 25px;
  // }

  // h1 {
  //   font-size: rem(42px);
  //   letter-spacing: -1.05px;
  //   line-height: 48px;
  // }

  // h2 {
  //   font-size: rem(28px);
  //   letter-spacing: -0.7px;
  //   margin: 0;
  // }
}
