.back-btn {
    height: 40px;
    width: 137px;
    border-radius: 6px;
    box-shadow: 1px 1px 6px $clr3;
    background-image: url(assets/img/back-arrow.png);
    background-repeat: no-repeat;
    background-position: 32px 12px;
}

.border-country-button {
    background-color: $clr4;
    box-shadow: 1px 1px 6px $clr3;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    width: fit-content;
    margin-bottom: 10px;
}

.border-country-button:hover {
    color: $clr3;
}