.filter-container {
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

#txt-filter {
  height: 55px;
  width: 478px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 3px $clr3;
  background-image: url(assets/img/search-13-48.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: 31px 20px;
  text-indent: 73px;
  font-size: rem(14px);
  font-family: inherit;
  padding-top: 7px;
  outline: none;

  &.countryFilterElementsDarkMode {
    background-image: url(assets/img/search-13-48-white.png);
    box-shadow: 1px 1px 3px $clr6;
  }
  &.countryFilterElementsDarkMode::placeholder {
    color: $clr4;
  }
}

.region-filter-container {
  position: relative;
  height: 57px;
  width: 200px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 3px $clr3;
  text-indent: 23px;
  font-family: inherit;
  font-size: rem(14px);
  background-color: $clr4;
  overflow: hidden;
  padding-top: 20px;

  &.countryFilterElementsDarkMode {
    box-shadow: 1px 1px 3px $clr6;
  }
}

.region-filter-select-container {
  position: relative;
  width: 180px;
  background-image: url(assets/img/arrow.png);
  background-repeat: no-repeat;
  background-position: 170px 8px;
  background-size: 9px;
  margin-top: -1px;

  &.countryFilterElementsDarkMode {
    background-image: url(assets/img/white-arrow.png);
  }
}

.region-filter {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: $clr4;
  width: 200px;
  height: 190px;
  border-radius: 6px;
  margin-top: 20px;
  box-shadow: 1px 1px 3px $clr3;

  &.countryFilterElementsDarkMode {
    box-shadow: 1px 1px 3px $clr6;
  }
}

.filter-option {
  position: relative;
  height: 16px;
  margin-top: 12px;
}

.filter-option:hover {
  color: $clr3;
}

.countryFilterElementsDarkMode {
  background-color: $clr6;
  color: $clr4;
}
